[2022-04-03 20:55] AndrewRathbun opened #1 "Chapter 0: Introduction"
Even though I am assigning this to myself, I welcome all input from the community.

 - [x] Purpose of this book
 - [x] Setting expectations for what the book is meant to be
 - [x] How this book came to be

[2022-04-03 20:55] AndrewRathbun opened #2 "Chapter 1: History of the Digital Forensics Discord Server"
Things to discuss:

 - [x] Beginnings in IRC
 - [x] Move to Discord
 - [x] Mobile Forensics Discord Server -> Digital Forensics Discord Server
 - [x] Member growth
 - [x] Hosting the Magnet Virtual Summit 2020
 - [x] Community engagement within the server
 - [x] Impact on the DFIR community
 - [x] Future

Markdown Preview: https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/bl

[2022-04-03 20:57] AndrewRathbun opened #3 "Chapter 2: Most Common Data Stores in Mobile Forensics"

[2022-04-03 21:02] AndrewRathbun opened #4 "Title of Book (FINAL ROUND OF VOTING IS LIVE)"
CrowdsourcedDFIRBook is not a great title :) Anyone have any ideas?

EDIT: 5/26/2022

Go here for a link to first round of voting: https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/issues/4#issuecomment-1138678272

[2022-04-03 21:06] AndrewRathbun opened #5 "Chapter 2: The Basics of Malware Analysis"

[2022-04-03 21:11] AndrewRathbun opened #6 "Order of Chapters"
We'll use this issue to discuss the order of the chapters once enough chapters have commitments from authors.

[2022-04-03 23:12] AndrewRathbun opened #7 "Chapter 3: Password Cracking for Beginners"

[2022-04-03 23:12] AndrewRathbun opened #8 "Chapter 4: Large Scale Android Application Analysis"

[2022-04-03 23:35] s3raph-x00 commented on #8
Looking at writing a chapter on large scale Android application analysis from various image pulls of phones.

[2022-04-04 13:16] AndrewRathbun commented on #6
[Order of Chapters Project board](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/projects/1?add_cards_query=is%3Aopen) created so we can drag the chapters in order:

[2022-04-05 09:52] ApexPredator-InfoSec commented on #4
Spitballing ideas for book title, what about that old Sierra game, originally called Hero's Quest until trademarks made it change to Quest for Glory: So you want to be a Hero. The player is a recent graduate of the Famous Adventurer's Correspondence School and the adventurers handbook in it is called "So You Want To Be A Hero." Could call it "So You Want To Be An Incident Responder." Or we could c

[2022-04-05 11:24] AndrewRathbun commented on #4
I'm all for nerdy because, let's be real, we're all nerds. I would shy away from using Incident Responder though because that's not generalized enough to encompass topics that have been committed thus far. Mostly referring to the 2 (and counting) mobile chapters which frankly doesn't play much a role in Incident Response, in my experience.

I like the title Crowdsourced DFIR Book but it's a bit to

[2022-04-05 14:06] AndrewRathbun opened #12 "Cover of Book"
All discussion about what kind of graphic should go on the cover should occur here.

[2022-04-05 14:10] AndrewRathbun opened #13 "Chapter 6: TBD"

[2022-04-05 14:25] AndrewRathbun opened #14 "Chapter 7: TBD"

[2022-04-05 15:10] mdawsonuk commented on #13
I'm thinking either a chapter on LevelDB and it's use across applications, or a deep dive on Snapchat

[2022-04-05 17:32] AndrewRathbun opened #15 "Chapter 5: Deobfuscating PowerShell Scripts/Payloads"

[2022-04-05 18:09] mdawsonuk commented on #4
I'd like a title that focuses it around collective experiences and knowledge... something along the vein of "tales from the DFIR trenches" I think works well...

The title is going to be the hardest part to get right by far

[2022-04-05 18:10] mdawsonuk commented on #6
Depending on the topics chosen/people who want to contribute, perhaps we could divide it into sub-categories like Computer DFIR/Mobile DFIR?

[2022-04-05 18:13] AndrewRathbun commented on #6
I was already thinking that since we have 2 chapters covering mobile thus far! My chapter won't be technical so it'd just be part of a "General" section, I guess. TBD exact name

[2022-04-05 18:15] AndrewRathbun opened #16 "Chapter 6: Gamification of DFIR - Playing CTF's"

[2022-04-05 18:32] abrignoni commented on #4
DFIR CO-OP: Practical knowledge by and for practitioners
Getting there together: Practical DFIR knowledge for all
DFIR Crowd Wisdom Volume 1
DFIR Anthology: Random bits

[2022-04-05 19:50] theAtropos4n6 commented on #14
Welcome to my chapter. Here we are going to write a chapter about the following:
-Why DFIR is a great field to work, research, etc
-Which are some common challenges and some common benefits of this field
-Why you should consider choosing/switching to DFIR,
-How to get started
-How to stay motivated
and more...

[2022-04-05 21:07] AndrewRathbun commented on #4
I really like ` DFIR Insights: From the community, for the community`. I think that's on to something. Just my thoughts so far. Keep spitballing, all!

[2022-04-05 23:06] ApexPredator-InfoSec commented on #4
I was thinking earlier today along the lines of the "tales from the DFIR trenches" theme as well. maybe something like:
Adventures in DFIR: A Crowdsourced eBook
Tales From the DFIR Bonfire
The Hitchhikers Guide to DFIR: Experiences From Beginners and Experts

[2022-04-05 23:10] ApexPredator-InfoSec commented on #5
I'm thinking with this one that I'll start with a little bit about how I got in to doing malware analysis with some personal anecdotes. Go over some techniques for identifying malware and pulling out IOCs. A little advice on Incident Response for malware. Cover a canned walk thru of basic techniques analyzing malware. And then talk about resources or next steps to take it to an intermediate level

[2022-04-05 23:24] ApexPredator-InfoSec commented on #6
I think sub-categories could help with the flow so it's not jumping around too much. Could also look at beginner topics section and more advanced topics section to help target sections to people's experience level.

[2022-04-06 00:45] AndrewRathbun opened #18 "Chapter 10: TBD"

[2022-04-06 01:29] AndrewRathbun commented on #4
Ooh I like the bonfire one too. The Discord Server is pretty much like a water cooler/bonfire so that fits the source of where we gathered initially to collaborate on this.

[2022-04-06 01:30] AndrewRathbun commented on #4
I also think we can have a subtitle or description on the cover page, so keep that in mind.

[2022-04-06 01:31] AndrewRathbun commented on #5
That sounds great. Planning on any graphics? ShareX is a great, free tool to markup screenshots. Or a trial of SnagIt, which is what I use.

[2022-04-06 01:49] FullTang commented on #7
My chapter would be an eye-opener into how password cracking works so that more data can be obtained from encrypted devices and show why using strong passwords and not reusing passwords is a good idea. In digital forensics, the first challenge is to actually get the data in a state so that it can be analyzed. I feel that I have a solid understanding of how to use Hashcat and how to build custom wo

[2022-04-06 01:50] ApexPredator-InfoSec commented on #5
I do plan on screen shots. I'll look into ShareX. I usually use the Windows Snipping tool for when I'm taking notes or putting together a hasty writeup or walkthrough on my GitHub.

[2022-04-06 01:53] AndrewRathbun commented on #7
Sounds awesome. Really looking forward to it!

[2022-04-06 01:53] AndrewRathbun commented on #8
Really looking forward to seeing what you come up with. Thanks for being involved!

[2022-04-06 01:54] AndrewRathbun commented on #14
Really looking forward to seeing the final product! Thanks for joining in on the fun!

[2022-04-06 01:56] AndrewRathbun commented on #5
Windows snipping tool is fine but ShareX had a nice editor post-screenshot. SnagIt is even better but it's not free. Again, a trial would probably be good enough to get what you need so consider that. I use SnagIt literally every day haha.

[2022-04-06 01:57] AndrewRathbun commented on #5
ShareX is also my go-to gif creator but that won't help us on this project 😋

[2022-04-06 12:13] mcvic1rj commented on #1
I would suggest that there is a foreword or a section of the intro chapter on why the DFIR Community is important to the DFIR Community. Depending on the length/scope, this might even warrant its own chapter.

#### Some initial thoughts on key points would be:
- Knowledge through the "Hive Mind"
  - Being able to pick peoples brains is important when struggling with a case. Not every department or

[2022-04-06 12:39] AndrewRathbun commented on #1
All great suggestions! I'm all for addressing these. Good call on the Foreword too. I'm not a writer by trade but if you want to help guide us with that vision, I'd be down. That's what this project is all about. Yeah, there are co-authors writing their respective chapters, but the community can really suggest edits and ideas like the above. It should be fun to watch this process play out.

[2022-04-07 02:25] AndrewRathbun opened #20 "Chapter 7: Setting up a Law Enforcement Digital Forensics Lab"
Chapter by Jason Wilkins

[2022-04-07 02:26] AndrewRathbun opened #21 "Chapter 12: TBD"

[2022-04-07 02:31] AndrewRathbun commented on #13
Will this be iOS or Android? Both? Neither? Windows Phone? 😋

[2022-04-07 02:36] Jobbins commented on #21
Planning on discussing tool validation and needing to go beyond traditional commercial forensic tools.

[2022-04-07 02:38] AndrewRathbun commented on #21
Ooh I like that. I'm sure I'll have some ideas for this too 👍 but it's your chapter so you steer the ship! Let us know how we can support.

[2022-04-07 07:53] Br3W7h1S commented on #4
I am loving this book idea, guys! 😁

To throw one into the mix, how about, "DFIR Community Book of Knowledge: Volume 1"

In many industries you have the formally recognised "Book of Knowledge" (For example, I remember studying the DMBOK during my MSc, which is the "Data Management Book of Knowledge", and most other industries have them.  This could be the "community" equivalent? (if you see what I

[2022-04-07 10:53] abrignoni commented on #4
I like this suggestion.

[2022-04-07 11:25] AndrewRathbun commented on #4
I like this too. Sounds official, leaves it open for a sequel, is self descriptive, etc. I think this is a top candidate. Thanks for the suggestion Phil!

[2022-04-07 11:34] AndrewRathbun commented on #15
@gh0x0st can you update this issue with your topic of choice? As interest grows, I want to make sure topics aren't duplicates for new people coming in.

[2022-04-07 11:46] B1N2H3X opened #22 "Chapter 13: Methodology for Parsing Unsupported Artifacts"
Write a chapter providing a methodology to attack unsupported artifacts.  The process to be described covers the following topics:
- Introduction to the methodology
- Discover
- Test
- Find
- Parse
- Share

[2022-04-07 11:54] B1N2H3X commented on #6
Definitely happy to help with the ordering. Agreed on the fact that there could be sections

Here are some groupings I see already:
Beginnings
-  Introduction
- History of the Digital Forensics Discord Server
- **NEW TOPIC*** History of DFIR
Analysis
- Most Common Data Stores in Mobile Forensics
- Basics of Malware Analysis
- I have a password Hash now what
- Large Scale Android Application Analys

[2022-04-07 12:33] AndrewRathbun commented on #22
Will this be generalized? Mobile? Computer?

[2022-04-07 12:35] AndrewRathbun commented on #21
Are we thinking this will be generalized? Mobile? Computer?

[2022-04-07 13:10] Jobbins commented on #21
Right now leaning towards generalized, with hitting on mobile and computer.

[2022-04-07 13:13] AndrewRathbun commented on #21
Ok cool. It'll only matter for placement in the order of chapters since we'll be having subsections.

[2022-04-07 17:52] dwmetz commented on #4
D B O K (DFIR Book of Knowledge) or DFIRBOK?

[2022-04-07 18:02] dwmetz commented on #6
Introduction

I.   DFIR History

-           History of the Digital Forensics Discord Server
-           NEW TOPIC* History of DFIR Analysis

II.  Just the (arti)Facts Ma'am

-         Most Common Data Stores in Mobile Forensics
-         Basics of Malware Analysis
-         I have a password Hash now what
-         Large Scale Android Application Analysis
-         A Brief Look at Snapchat
-

[2022-04-07 20:38] ApexPredator-InfoSec commented on #4
I think DFIRBOK would work better than DBOK. DFIRBOK also sounds like some type of ultra mega chicken that we must slay or tame before continuing our DFIR quest so that's cool.

[2022-04-08 03:57] Whee30 commented on #4
how about the answer for every digital forensics question out there?
"It depends...
a DFIR collaboration"

happy to be along for the ride and help where I can

[2022-04-09 11:04] Br3W7h1S commented on #4
Thanks guys!  Really glad you like it 😁

[2022-04-10 00:33] ApexPredator-InfoSec commented on #15
I'm pretty sure he was going to do deobfuscating powershell scripts/payloads.

[2022-04-10 02:23] AndrewRathbun commented on #16
@stark4n6 List of tools is looking great. I think adding hyperlinks to each one (if possible) would add some nice value. Thoughts on that? If you're good with it, we'll wanna move EZ Tools to a separate line from KAPE, IMO.

[2022-04-10 02:25] AndrewRathbun commented on #16
Putting this here so I don't forget, we'll want to remove the space before Hindsight here:

https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/blob/23e406d0048e59168e1fb28f7dcc7129e220c624/manuscript/chapter9.md?plain=1#L111

[2022-04-10 02:28] AndrewRathbun commented on #16
Lastly, I made some changes to the previously bolded headers that weren't rendering properly. I converted them to Markdown headers using `##` because otherwise they were showing up on the same line as the first sentence of the paragraph they were supposed to be over. A solution to that would've been just adding another row below your `**text goes here**` but also might as well just use Markdown he

[2022-04-10 03:02] stark4n6 commented on #16
Sounds good, I can get those hyperlinks added in the next round of updates/edits. Thanks for the syntax fixes as I've used a few different markdown sites with mixed results.

[2022-04-10 13:13] AndrewRathbun opened #23 "Chapter 14: Little4n6Fox"

[2022-04-12 21:49] AndrewRathbun opened #28 "Chapter 15: ElijahWoodward"

[2022-04-13 03:26] dsplice commented on #4
How about, DFIR for the Masses, from the Masses?

[2022-04-14 03:25] digitalsleuth commented on #4
I'll throw in a couple here:
`Crowd Sourced: An OSINT approach to Digital Forensics` (OSINT being our collective Open-Sourced intelligence ;)
or
`Crowd Sourced: An Open Source approach to Digital Forensics`

[2022-04-15 02:11] brootware commented on #4
This one sounds great amongst all the other wonderful titles!

[2022-04-20 11:46] Br3W7h1S commented on #4
I think DCBOK (DFIR Community Book of Knowledge) as BoKs are typically officially licensed texts, whereas this would differentiate it as a community edition, while still following a similar format :)

[2022-04-20 15:30] FirmskyA commented on #20
A nice article and PDF that was published from the ForMobile project regarding validation would sit nicely within this chapter:

Article link
https://www.cencenelec.eu/news-and-events/news/2022/eninthespotlight/2022-04-12-for-mobile/

Download link
https://www.cencenelec.eu/media/CEN-CENELEC/CWAs/RI/cwa17865_2022.pdf

[2022-04-20 15:31] Br3W7h1S commented on #20
Nice link!  Very appropriate, and a good shout :)

[2022-04-26 00:00] jdwilkins75 commented on #20
Outline committed.

[2022-05-01 04:02] AndrewRathbun opened #29 "Standardized cover page for each chapter?"
I like what @jdwilkins75 did with including a link to his Twitter so people can follow him. Same with the online presence added by @abrignoni in his section. I also like how @jijames and I have images on the first page of our respective chapters. I feel like we should have some sort of standardized first page for each chapter, especially given that this book is not written by one person. Each chap

[2022-05-02 13:02] stark4n6 commented on #29
Seems good with me, I do think we should include the chapter number alongside the title.

Chapter XX
<Insert title>

[2022-05-02 13:04] AndrewRathbun commented on #29
I thought so too but when I viewed it in a PDF and in the table of contents, it would be duplicative a bit. I'll post snips of examples here in a bit.

[2022-05-02 15:29] AndrewRathbun commented on #29
Alright, let's see what we think about these examples:

![image](https://user-images.githubusercontent.com/36825567/166261236-c1a0c24f-3921-4181-a34c-ceacff6c2c75.png)

[code]

[code]

ignore the bad grammar in the above examples, I whipped them up very hastily, but it gets the point across. Thoughts on which one (or option C) that we should use?

[2022-05-02 15:31] jijames commented on #29
Chapter # - Chapter Title... PLEASE

[2022-05-02 17:14] stark4n6 commented on #29
Yes, agreed with Josh

Chapter # - Chapter Title looks the cleanest

[2022-05-03 00:34] ApexPredator-InfoSec commented on #5
I should have my rough draft complete and uploaded by this weekend.

[2022-05-03 11:41] AndrewRathbun commented on #5
Good deal. For your chapter, do you want to stick with your online pseudonym or use your real name? Either is fine, I just want to know what yours thoughts were.

[2022-05-03 11:42] AndrewRathbun commented on #29
I agree with all the above, as well. Unless a few others disagree, then we'll roll with this. I'll make the changes now to set the stage for others.

[2022-05-03 11:47] AndrewRathbun commented on #29
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/commit/c651da09ab69d0c013c929449e926bee86641996 and https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/commit/0d5342e071cbff97fbe1ebc27f777c9c96122b20 are live now

[2022-05-03 11:52] AndrewRathbun commented on #29
New preview files added: https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/commit/d300c1a9803a7d39aa2ad733d3fa735c27fa4c38

Will close this Issue for now. Thanks all 👍

[2022-05-03 11:52] #29 closed

[2022-05-03 13:51] AndrewRathbun commented on #16
![image](https://user-images.githubusercontent.com/36825567/166465688-81cb6838-5184-44dd-96f2-a271f2e976bc.png)

FYI looks like you've bolded the subheading for `What is a CTF?`. Just showing you that it appears to render as bolded in the Table of Contents, as well. Up to you if you want to keep that since its your chapter.

[2022-05-03 18:22] AndrewRathbun opened #30 "Chapter 8: Artifacts as Evidence"
Author: Nisarg12

[2022-05-03 18:45] Nisarg12 commented on #30
I'm almost done with the introduction part, covering the following:
* Types of Artifacts
`Categorization of User data & System data`
`Difference between E-discovery & Digital Forensics`
* What is Parsing?
`Operating system`
`Computer Data Representation`
* Artifact-Evidence Relation
`Taking artifacts at face value`
`Non-equivalence relation`

To Do:
* Examples
`Registry`
`Prefetch`
`Shellbags`
`Ju

[2022-05-03 18:49] AndrewRathbun commented on #30
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/blob/main/manuscript/chapter16.txt

all yours ^^

[2022-05-03 18:50] stark4n6 commented on #16
Definitely not intended, odd

[2022-05-03 18:54] stark4n6 commented on #16
Should be fixed now as well as the .txt is updated with tool paths and the latest changes

[2022-05-03 23:40] ApexPredator-InfoSec commented on #5
Originally I was going to stay under pseudonym, I'm debating whether or not I want to change my mind though.

[2022-05-04 03:54] Nisarg12 commented on #4
Some ideas for the title;

[2022-05-05 06:54] Nisarg12 commented on #30
Made the first pull request. I'll still be adding the sections for every artifact example as I work through it, but for now just wanted to put the introduction part out.

Any ideas and corrections are welcome! :)

[2022-05-05 12:39] AndrewRathbun commented on #30
@Nisarg12 if you make a Leanpub account and share the username with me, I can add you to the book and maybe you can generate preview versions of the book yourself when you make changes to your chapter.

[2022-05-05 12:45] AndrewRathbun commented on #30
@Nisarg12 I think we need to make the files in Resources folder named a certain way, like `.\Resources\Chapter16_FileNameHere.png` rather than `.\Resources\Chapter16\FileNameHere.png`. You can see your images aren't showing up in the new preview files generated today.

[2022-05-05 12:52] Nisarg12 commented on #30
I did, my username is nisargsuthar you can add me. Also I read that leanpub only allows limited number of previews is that true?

[2022-05-05 12:53] AndrewRathbun commented on #30
Adding you now. I paid for a lifetime subscription so we have unlimited previews :)

[2022-05-05 12:56] Nisarg12 commented on #30
Ah okay, that works too. I just saw someone make a folder for Chapter 2 so I thought that's what we're doing. Although it should work, I'll try escaping the whitespace as chapter wise directories are easier to manage!

[2022-05-05 12:57] AndrewRathbun opened #32 "Leanpub Book Description"
Here's what we're working with on Leanpub for when the book goes live.

![image](https://user-images.githubusercontent.com/36825567/166927600-9e403749-aa63-4300-abc5-6abddd87d88e.png)

[2022-05-05 16:28] AndrewRathbun commented on #32
Here's some examples of what I consider to be ideal:

https://leanpub.com/cpp20
https://leanpub.com/psprimer
https://leanpub.com/howcanitestthis (this one has a good example with multiple authors)

[2022-05-05 16:29] Nisarg12 commented on #16
Excellent chapter @stark4n6!

Since you've already covered CTFs very aptly, I have a suggestion that you include a topic for write-ups, explaining how they are important not only to practice documentation (which is a must skill for people in DFIR), but also giving back to the community. Or if you'd like I could write the section for you :)

Maybe you could include it under `Toss a Coin in the Tip

[2022-05-05 18:12] stark4n6 commented on #16
The chapter is still a work in progress but thanks for the suggestions. I definitely want to add the writeups to the "For Profit" section.

[2022-05-07 19:12] AndrewRathbun commented on #6
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/projects/1

I reworked the Kanban board and split up the sections so we can view things more horizontally than vertical in a single column.

[2022-05-07 19:12] AndrewRathbun commented on #6
@dwmetz did you wanna author the history of DFIR Analysis chapter? Or was that just a suggestion of a topic?

[2022-05-08 02:12] dwmetz commented on #6
@AndrewRathbun ,  That was @B1N2H3X I believe

[2022-05-08 02:14] AndrewRathbun commented on #6
Hah, you're right, I didn't scroll up high enough and it's been a few weeks since I was last in this issue :) Thanks for pointing that out!

[2022-05-08 02:18] ApexPredator-InfoSec commented on #5
my draft is uploaded

[2022-05-08 02:21] AndrewRathbun commented on #5
Awesome work, thank you! I'll take a stab at some proofreading, Markua editing, code blocking, etc from the brief bit I saw just now. I'll do my full read through as I go through a run of formatting quality control 👍

[2022-05-08 02:41] ApexPredator-InfoSec commented on #5
Thanks. It will probably need some edits for clarity and grammar. I was mostly just focused on getting it done and not trying to perfect it yet so that I could at least produce something. I will also do some proof reading over the next week or so.

[2022-05-08 02:51] AndrewRathbun commented on #5
That was definitely the right approach. Creating content is the hardest part of the process. Peer review and proofreading can happen whenever it happens, but it can't happen without the content existing in the first place. Thanks again for doing that!

[2022-05-08 09:54] brootware opened #59 "Dead link checker"
Hey folks, I just took a look at the book repo and I see there tends to be links inside these. As we contribute more contents, more links are going to come in. There’s one technique called markdown link checker with GitHub actions I employed in my one of my own repos to identify dead links. Please let me know if you think this is a good idea

[2022-05-08 11:20] AndrewRathbun commented on #59
Yes this is a great idea. Can you tell me how to implement this or point me to a repo that has it implemented as an example? GitHub actions are something I'm wanting to learn and this looks like a good one to learn on.

[2022-05-09 00:15] brootware commented on #59
Hey @AndrewRathbun , sure I have implemented this in the my fork of this repo. You can take a look at the results here. There are a couple of dead-links found.

https://github.com/brootware/CrowdsourcedDFIRBook/runs/6344168741?check_suite_focus=true

Some are 503 like below where the endpoint is not available.

[code]

And some are 0, but we're still able to access the link.

[code]

We can put so

[2022-05-09 00:27] stark4n6 commented on #59
Just fixed the dead link, not sure what happened there.

[2022-05-09 01:06] AndrewRathbun commented on #59
@brootware this is really fantastic. Can you simply PR this into the repo and we'll have it working for us once we figure out hte config?

[2022-05-09 01:10] AndrewRathbun commented on #59
https://github.com/brootware/CrowdsourcedDFIRBook/runs/6344168741?check_suite_focus=true#step:4:55 appears to be a false positive, but https://github.com/brootware/CrowdsourcedDFIRBook/runs/6344168741?check_suite_focus=true#step:4:46 appears to be a true positive.

[2022-05-09 03:02] brootware commented on #59
@AndrewRathbun added exceptions for false positive with this https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/pull/60

[2022-05-09 03:03] AndrewRathbun commented on #59
You rule, thank you!

[2022-05-09 11:32] AndrewRathbun commented on #59
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/runs/6350892948?check_suite_focus=true#step:4:123

@brootware this one appears to be a FP, too. That link is working for me. Any ideas?

[2022-05-09 23:46] brootware commented on #59
@AndrewRathbun Hi Andrew, I have added that particular link as an exception in the ignore pattern with this PR.
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/pull/61

Status 503 usually would have some form of web service running and thus did not include this as an exception in the rule.

[2022-05-10 01:46] AndrewRathbun commented on #59
Thank you very much for your leadership on this. Really appreciate it!

[2022-05-10 02:56] brootware commented on #59
My pleasure @AndrewRathbun . I am looking forward to read this book once it's published too! Will leave this issue open as more content is being added in to check for more false positives and will do PRs as we go along and identify.

[2022-05-10 11:09] AndrewRathbun commented on #59
Awesome, really appreciate that support 👍

[2022-05-10 12:00] AndrewRathbun commented on #12
Something else to consider:

![image](https://user-images.githubusercontent.com/36825567/167623470-22915361-70c9-42db-b3ee-3f7b85af0e85.png)

[2022-05-10 16:56] AndrewRathbun commented on #30
@Nisarg12 we may wanna add a piece about how .pf files are compressed and need to be decompressed to see the actual contents.

Examples: https://github.com/AndrewRathbun/DFIRArtifactMuseum/tree/main/Windows/Prefetch/Win11/RathbunVM

[2022-05-10 18:16] Nisarg12 commented on #30
Wait I'm confused, I'm on Win10 and there is no compression. I knew about the compression algorithm but only just found out about Mr. Zimmerman's decomp [script](https://gist.github.com/EricZimmerman/95be73f6cd04882e57e6), surprisingly my machine has it all decompressed with the SCAA header followed by the executable name, was it introduced in some specific Win10 version?

[2022-05-10 18:18] AndrewRathbun commented on #30
Yep np, this is where you'd wanna look when using PECmd:

![image](https://user-images.githubusercontent.com/36825567/167695827-e3ea0805-406c-4e16-b2a3-f7a97ba82740.png)

[2022-05-10 18:22] Nisarg12 commented on #30
Although I wonder what's the use of this when all the tools including WinPrefetch and PECmd parse them by default. I've never come across the need to manually examine `.pf` files, are there any other application that I'm missing? Even partial recovery of prefetch files from unallocated space is useless since it will be missing some encrypted bytes 🤔

[2022-05-10 18:38] AndrewRathbun commented on #30
My main point in bringing all this up is just so people know the nature of prefetch files and the magic tools are doing, so maybe they can replicate the process themselves if they are ever so curious. I'm not saying do a tool walkthrough as that can be done in another venue. But just mentioning that they are compressed might be a value add to be a bit more complete? Thoughts?

[2022-05-10 18:45] Nisarg12 commented on #30
Yes I'll mention it of course, I just momentarily forgot that it may be useful in manual validation for critical timestamps parsed by the tools. [Structures](https://forensicswiki.xyz/wiki/index.php?title=Windows_Prefetch_File_Format) are well documented here.

[2022-05-10 19:27] Nisarg12 commented on #30
TODO:
Add a resources section for each example to include whitepapers, research papers and articles, with links and attribution.

[2022-05-10 20:51] Nisarg12 commented on #12
Just a thought, but the cover is a fill-to-bound front of a hard disk with it's actuator arm, and the chapter covers can have platters illustrated with the title written on one of the tracks, and the arm slightly moves each chapter like it's accessing data. If leanpub does backcovers we can have the case of the hard disk with the SCSI connectors and other pins.

[2022-05-17 20:41] B1N2H3X commented on #22
@AndrewRathbun - this is focused on unsupported artifacts. While we may use mobile examples, the methodology is more broadly applicable.
Can I bring a coauthor in?  Elizabeth McPherson.
This is the methodology I teach at the university - so would love to document it here in the book while simultaneously codifying it in another format for folks to learn from and I am working on that with Elizabeth.

[2022-05-17 21:31] AndrewRathbun commented on #22
@B1N2H3X yeah of course you can. She'll just need a GitHub account to contribute to this repo and a Leanpub account eventually. You can send her my way on Discord if she needs any more direction but the magic will happen here in this repo.

[2022-05-17 22:23] ApexPredator-InfoSec commented on #5
I got a couple of people to peer review it. No issues from either on the technical accuracy but did get some pointers on improving the quality of the content so I'll be working on that over the next couple of weeks.

[2022-05-18 12:00] AndrewRathbun commented on #5
Awesome, thank you for the status update! Looking forward to it.

[2022-05-22 01:17] FullTang commented on #7
A slight change to the chapter title, but the same basic concept.

[2022-05-22 11:43] AndrewRathbun commented on #30
https://github.com/EricZimmerman/KapeFiles/blob/master/Targets/Windows/RegistryHivesOther.tkape

Do you think it's worth mentioning that these registry hives also exist but little is known/has yet been discovered about their forensic relevance?

I think you're fine not mentioning them ultimately since most don't know they exist but just floating the idea in case you thought it would be a good valu

[2022-05-22 11:47] Nisarg12 commented on #30
I haven't gotten the time to research on them, if something interesting comes up I'll add it. I just included the most basic ones that give much more information than other nuanced ones. Thanks for this, I only knew about some of them.

[2022-05-23 21:28] AndrewRathbun opened #75 "Contributors/Authors, PLEASE READ THIS"
If you've touched this book in any way and want to be listed as a contributor/author on GitHub based on the nature of your contributions to the book, please make a [Leanpub](https://leanpub.com/) account and message me on Discord with the email account associated with your Leanpub account. I will then invite you to the book as either an Author or a Contributor based on what's most appropriate. Gen

[2022-05-26 15:05] AndrewRathbun commented on #4
https://forms.gle/eZtkh5NZkzdjwaq66

To protect the integrity of the voting process, a gmail account is required at the time of voting. Let me know if I've missed any suggestions. Let's get this one under way and then in a few weeks we can do a final vote for the top 3. Thoughts on that process?

[2022-05-26 15:15] stark4n6 commented on #4
@AndrewRathbun the form is radio buttons and not check boxes so you can only choose one entry at this point.

[2022-05-26 15:18] AndrewRathbun commented on #4
Try now @stark4n6

[2022-05-27 02:16] AndrewRathbun commented on #4
![image](https://user-images.githubusercontent.com/36825567/170615283-1ff302f4-cec8-4a6f-a407-e4cc244ccd96.png)

Results so far :)

[2022-05-27 02:20] AndrewRathbun commented on #1
FYI I'm finishing up a research paper in the next week or so and then I'll be full steam on this chapter and Chapter 1.

[2022-05-27 20:33] AndrewRathbun opened #79 "Chapter 9: Imaging"
Fierry137

[2022-05-27 22:36] AndrewRathbun opened #80 "Chapter 11: Triage"
DeeFIR

[2022-05-27 22:37] AndrewRathbun commented on #79
@Fierry137 will this cover imaging computers, mobile, other, all the above, etc? Just trying to figure out which section this chapter might fall into.

[2022-05-28 10:06] Fierry137 commented on #79
It's probably going to be limited to computers and RAM memory. I think mobile imaging might fit better in one of the mobile chapters due to the various limitations (OS, manufacturer, lock bypassing and physical/logical imaging differences)

[2022-05-28 12:12] AndrewRathbun commented on #59
Another false positive, it seems: https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/runs/6633816171?check_suite_focus=true#step:4:75

[2022-05-29 10:17] brootware commented on #59
Added 502 as exception since usually these are for handling temporary server response errors.
https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/pull/82

[2022-05-29 21:26] ApexPredator-InfoSec commented on #5
I added more content. Probably still needs editing.

[2022-05-30 01:32] AndrewRathbun commented on #5
I just skimmed through it and it was a great read. I'll give it an editing pass in a week or so when I'm done with my research paper so I'll be able to dedicate all my time to editing content in this repo.

Nice work!

[2022-06-01 12:26] AndrewRathbun opened #83 "Chapter 10: Linux"
bgrundy (LinuxLEO)'s chapter

[2022-06-04 16:05] AndrewRathbun opened #84 "Graphics for the section dividers"
Looking at the latest PDF preview, I think we're going to want to spruce up the section dividers. If @stark4n6 or anyone else has any ideas for a simple graphic to fill in these pages (see below for examples), please let me know!

![image](https://user-images.githubusercontent.com/36825567/172014159-ca215368-1826-4f65-a070-e89136f4b9be.png)

![image](https://user-images.githubusercontent.com/36825

[2022-06-05 21:18] AndrewRathbun commented on #4
![image](https://user-images.githubusercontent.com/36825567/172070998-4c3aa904-9a11-479c-8d85-90c67780c7cc.png)

5 days left!

[2022-06-07 14:55] gh0x0st commented on #4
"It Depends"... I dig it!

[2022-06-08 04:33] brootware commented on #4
looks like we got a winner there! :D

[2022-06-14 22:04] awfr commented on #18
I can contribute to this chapter if the author is open to collaboration.  I wrote and taught 8+ university courses in eDisco/DFIR.  I've mentored several people who were completely switching careers into DFIR.  I inserted myself into the field 20+ years ago. Thx.

[2022-06-14 22:07] jijames commented on #18
Of course! Please do!

-------- Original Message --------
On Jun 14, 2022, 17:05, awfr wrote:

[2022-06-14 22:17] awfr commented on #20
I think it is beneficial to include some guidance on the process of having a defense expert at the law enforcement office to conduct an examination where sensitive information or contraband (child porn) is involved.  For 10+ years I've performed these examinations at local sheriff's offices, FBI, HSI, etc.  I have a process that has worked in most situations.  I've also seen some security issues a

[2022-06-14 23:07] awfr opened #85 "Chapter 20: Consultancy 101"
Whether going it on your own or growing a consultancy firm, there are decisions to be made about process and the business side of things.  This chapter will raise some of these considerations, and it will present tips and solutions along with pros and cons.  No legal advice here other than to have an attorney who understands your business draft your agreements.

Example topics:
- Charging for proj

[2022-06-15 22:29] ApexPredator-InfoSec commented on #5
I removed the writing in-progress label since the content is basically done. There may be additional content added if deemed necessary during editing but it would be small amounts.

[2022-06-15 22:30] AndrewRathbun commented on #2
Reminder for me to add Burma to the list of LE countries.

https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/blob/29696392810efd9e064df48f983aa3a08d25a48f/manuscript/chapter1.txt#L91

[2022-06-16 20:26] AndrewRathbun commented on #5
awesome, thank you! I will ramp up revising and editing efforts in July

[2022-06-16 21:19] AndrewRathbun commented on #4
![image](https://user-images.githubusercontent.com/36825567/174166889-f333a946-c0ac-4645-8f87-30f8561ec2d1.png)

[2022-06-16 21:53] AndrewRathbun commented on #32
I emailed Leanpub about adding a Digital Forensics category to `Computers and Programming` so we can properly categorize this book on their website.

[2022-06-17 21:23] AndrewRathbun commented on #30
I've read up to line 119 and did some minor editing, spelling error corrections, etc. I will edit this post as I continue to make progress.

[2022-06-20 20:05] AndrewRathbun commented on #85
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:05] AndrewRathbun commented on #83
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:05] AndrewRathbun commented on #80
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #30
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #28
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #23
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #22
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #21
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #20
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:06] AndrewRathbun commented on #18
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:07] AndrewRathbun commented on #16
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:07] AndrewRathbun commented on #15
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:07] AndrewRathbun commented on #14
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:07] AndrewRathbun commented on #13
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:07] AndrewRathbun commented on #8
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:08] AndrewRathbun commented on #7
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:08] AndrewRathbun commented on #7
pasting the above like I am in all topics for posterity.

@FullTang do you consider this chapter done and ready for editing?

[2022-06-20 20:09] AndrewRathbun commented on #5
This chapter will definitely make v1.0 when it goes live in early August 👍 thank you for your efforts @ApexPredator-InfoSec

[2022-06-20 20:10] AndrewRathbun commented on #3
Hey there! I'm tentatively setting 7/31/2022 as a [milestone](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/1) for publishing v1.0 of this book. We'll have the title decided in the next couple weeks which will be the first of [multiple administrative tasks](https://github.com/Digital-Forensics-Discord-Server/CrowdsourcedDFIRBook/milestone/2) we'll complete in J

[2022-06-20 20:13] AndrewRathbun commented on #4
![image](https://user-images.githubusercontent.com/36825567/174672079-9f777ace-a197-4f6a-a577-187807af8278.png)

[2022-06-20 20:33] bgrundy commented on #83
I should have something fleshed out by the end of this week.   7/31 is plenty of time.

[2022-06-20 20:47] ApexPredator-InfoSec commented on #5
Awesome. I really appreciate this opportunity and look forward to future collaboration.

[2022-06-20 20:48] ApexPredator-InfoSec commented on #15
When I talked to him last week he said he had content done and wanted to edit\clean it up before uploading. I'll ping him again and let him know he can going ahead an upload so you and the rest of the crew can help with the editing.

[2022-06-20 21:03] ApexPredator-InfoSec commented on #8
Also just talked to S3raph and he said he should meet V1.0 deadline.

[2022-06-21 06:06] Nisarg12 commented on #30
Yes I'll finish the chapter by then! Only 4 page long sub sections are remaining as of now.

[2022-06-21 17:50] stark4n6 commented on #16
I should be done by the end of this week or next. I will let you know when review is needed.

[2022-06-26 01:23] AndrewRathbun commented on #4
![image](https://user-images.githubusercontent.com/36825567/175795460-d19a7e1c-b703-48ac-9702-97a59a36b080.png)

3 more days!

[2022-06-28 18:16] AndrewRathbun commented on #4
Last call for voting!

[2022-06-28 20:43] ApexPredator-InfoSec commented on #75
Do you want us to put our author bios in the authors.txt file?

[2022-06-28 20:46] AndrewRathbun commented on #75
Yeah, please do! If you wish to have one, that is.

[2022-06-29 11:28] #4 closed

[2022-06-29 11:33] AndrewRathbun commented on #1
Note to self: include snip from Google Forms for the results of the 2 rounds of voting.

[2022-07-02 02:56] AndrewRathbun commented on #2
Substantial completion of this chapter has been achieved!

[2022-07-02 02:56] AndrewRathbun commented on #1
Substantial completion of this chapter has been achieved!

[2022-07-02 03:12] AndrewRathbun commented on #16
Dead Link Checker is hitting on the DFRWS link here: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/2b63a20b992bb57f0e5381469860aaf58d97e393/manuscript/chapter9.txt#L52

Just passing along. No action needed as it may correct itself, but just a heads up, sir.

[2022-07-02 03:14] gh0x0st commented on #15
I have uploaded the initial draft of the content for chapter 8. Thank you all again for being patient and understanding with me. Without everyone out of the hospital things are starting to get back to normal.

[2022-07-02 03:16] AndrewRathbun commented on #15
Family first. ALWAYS. Hope things are on the mend for you very soon.

I will mark your chapter as writing finished and editing needed. Thank you for your efforts!

[2022-07-02 03:28] AndrewRathbun commented on #6
By my count, we have 6 chapters (including Chapter 0 - Introduction) ready for v1.0. 4 more and we're going to publish once they are edited and approved by all stakeholders.

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/labels/v1.0

[2022-07-02 18:29] Nisarg12 commented on #30
I've merged the first complete draft, you can label this for editing now :D

[2022-07-03 02:57] AndrewRathbun commented on #15
@gh0x0st I've done a pass through your chapter. Great stuff! Thank you for doing this chapter :)

[2022-07-03 03:22] AndrewRathbun commented on #30
I've done a full pass through the chapter. Really good stuff @Nisarg12!

[2022-07-03 03:41] AndrewRathbun commented on #7
I made it to line 60 tonight. I have to call it a night. I've uploaded some minor edits so check them out when you get a chance. I will continue review this weekend!

[2022-07-03 04:01] AndrewRathbun commented on #15
I need to figure out why your 2 images aren't parsing properly in the PDF, but it won't happen tonight. I'm exhausted...will tackle it tomorrow.

[2022-07-04 12:39] AndrewRathbun commented on #7
@FullTang great work on this one! I've finished my review pass and pushed the changes. I'll generate new preview files now and upload them.

[2022-07-04 12:47] AndrewRathbun commented on #7
@FullTang as I mentioned on Discord, you may want to take another pass through and `code block` more things in the chapter. I made some of those changes but I'll leave it to you to flesh out the rest based on author's preference.

[2022-07-04 19:04] AndrewRathbun commented on #5
@ApexPredator-InfoSec Process Hacker is now called System Informer. This is a very recent change. Should we consider adding verbiage similar to "System Informer, formerly Process Hacker, is a...."? Let me know your thoughts!

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/a440d99ffb5711cab5f56217890fc49782fc1b29/manuscript/chapt

[2022-07-04 19:27] AndrewRathbun commented on #5
https://www.nirsoft.net/utils/registry_changes_view.html is another tool for Registry comparison. It's still being actively developed whereas RegShot isn't anymore, it seems. Not suggesting to remove RegShot and replace with this NirSoft tool, but just bringing it up as an alternative in case you wanted to add a blurb.

[2022-07-04 19:49] AndrewRathbun commented on #5
First pass edits are up. Great work @ApexPredator-InfoSec!

[2022-07-04 20:01] AndrewRathbun commented on #5
@ApexPredator-InfoSec I just added a couple more subheadings so the PDF's sections looked cleaner than this:

![image](https://user-images.githubusercontent.com/36825567/177211345-d2c6dd2c-c548-415e-aabe-588e5be12ea1.png)

Now it looks like this:

![image](https://user-images.githubusercontent.com/36825567/177211478-2b07837d-1eba-4ec1-92ba-ded962bba879.png)

Feel free to adjust as you see fit!

[2022-07-04 21:30] ApexPredator-InfoSec commented on #5
I think that would be a good idea to make those changes.

[2022-07-04 21:39] ApexPredator-InfoSec commented on #5
I made those suggested edits

[2022-07-05 02:14] AndrewRathbun commented on #5
Great. I saw a minor change that needs to be made on the NirSoft section but I'll handle it when I'm at a computer next. Cheers!

[2022-07-05 12:36] AndrewRathbun commented on #5
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/0dc271d43bbb5f22c44315073547f8c6bc475edd

minor changes made!

[2022-07-05 13:51] AndrewRathbun commented on #2
Need to add Myanmar to the list now. Reminder for me!

[2022-07-05 13:55] gh0x0st commented on #15
Thank you for taking the time to go through it! This was a very fun topic. I made a typo in the markdown that I fixed after you generated the PDF so it may be all set. Is there anything  I need to do in the repo or leanpub? Also, I have a habit of critiquing myself after something is submitted so I may make a few minor formatting changes if that's ok.

[2022-07-15 18:55] AndrewRathbun commented on #79
@Fierry137 can you make a `chapter17.txt` file which is what Leanpub parses to generate the chapter?

[2022-07-15 19:39] Fierry137 commented on #79
Sure, I can create it in the coming days (currently on holiday abroad without laptop) and instantly merge any feedback that is generated when the editing is completed.

[2022-07-19 11:57] AndrewRathbun commented on #2
Need to add Iran.

[2022-07-19 16:13] bgrundy commented on #83
I'm hoping to have a draft up by Friday or Saturday evening for peer review/editing.

[2022-07-20 19:10] AndrewRathbun commented on #7
If you've not already, please consider filling out your bio here before the end of the month: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/authors.txt

[2022-07-20 19:10] AndrewRathbun commented on #30
If you've not already, please consider filling out your bio here before the end of the month: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/authors.txt

[2022-07-20 21:21] AndrewRathbun commented on #79
If you've not already, please consider filling out your bio here before the end of the month: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/authors.txt

[2022-07-20 21:21] AndrewRathbun commented on #16
If you've not already, please consider filling out your bio here before the end of the month: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/authors.txt

[2022-07-20 21:21] AndrewRathbun commented on #8
If you've not already, please consider filling out your bio here before the end of the month: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/authors.txt

[2022-07-20 21:42] AndrewRathbun commented on #8
@ApexPredator-InfoSec @s3raph-x00 I ran through this chapter and added my edits: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/e8b6343a52f4b613a3d45780c6a0e9255e8f1286

Do we have a link to this script mentioned here? If so, I want to hyperlink it.

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIR

[2022-07-20 22:57] AndrewRathbun commented on #16
@stark4n6 I've added my edits: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/18831d93c817f9cda0bb61325c52cc83759d68bd

Feel free to adjust as necessary. Great work!

[2022-07-20 23:02] AndrewRathbun commented on #79
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #5
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #7
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #8
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #15
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #16
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-20 23:04] AndrewRathbun commented on #30
As we approach publishing v1 of this book, please review the most recent files uploaded to [this folder](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/tree/main/ExamplePublishedBook) and ensure your chapter looks the way you want it to. If not, please make appropriate adjustments and advise me to regenerate the preview book files.

[2022-07-21 08:00] Fierry137 commented on #79
I think a conclusion is in order, I’ll add it in the coming days :)

[2022-07-21 11:50] AndrewRathbun commented on #6
As of the writing of this post, here's the chapter that are going to be in v1:

Chapter 0 - Introduction
Chapter 1 - History of the Digital Forensics Discord Server
Chapter 3 - The Basics of Malware Analysis
Chapter 4 - Password Cracking for Beginners
Chapter 5 - Large Scale Android Application Analysis
Chapter 8 - Deobfuscating PowerShell Scripts/Payloads
Chapter 9 - Gamification of DFIR - Playin

[2022-07-22 00:01] gh0x0st commented on #15
I gave it another read through and will sleep on it. Will comment again tomorrow after one more review.

[2022-07-22 11:47] AndrewRathbun opened #89 "Chapter 21: A New Forensic File Format (.zff)"

[2022-07-22 18:50] AndrewRathbun commented on #15
Special thanks to @Nisarg12 for fixing this!

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/315b55986969a9f3043df7b188b15ba8fd3474af

[2022-07-22 19:15] gh0x0st commented on #15
I'm good to go .

[2022-07-24 03:01] AndrewRathbun opened #107 "Remove Markdown files for completed chapters once they're published (V1)"
Markdown files are only there for the author's benefit to instantly visualize what their chapter should look like.

[2022-07-24 03:07] AndrewRathbun opened #108 "Attach authors/contributors/editors to the ISBN numbers (V1)"
![image](https://user-images.githubusercontent.com/36825567/180630480-024cd5e2-0f96-4321-84e9-b5db76547c08.png)

Any author/contributor/editor/what have you who wants their name attached to the ISBN number, please contact me with the appropriate information so I can associate you with these ISBN numbers officially.

[2022-07-24 03:54] AndrewRathbun commented on #2
The above were added here: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/17efa320d8472462f69e60d355be08250ed38dbd

[2022-07-24 11:59] AndrewRathbun commented on #108
@FullTang @Nisarg12 and myself have been added thus far

[2022-07-26 14:42] Fierry137 commented on #79
A conclusion and some next steps have been added :)

[2022-07-26 14:54] AndrewRathbun commented on #79
I just finished reviewing this, check out the edits! Let me know if you have any feedback! Cheers and thank you for finishing your chapter. Will get you added to the ISBN here shortly.

[2022-07-29 03:24] AndrewRathbun commented on #108
@stark4n6 @Fierry137 @s3raph-x00 have been added

[2022-07-30 20:23] AndrewRathbun commented on #59
@brootware FYI I've added you as a contributor to the book for helping us out with this feature. Thank you for your work on this 👍

[2022-07-31 09:25] brootware commented on #59
Thank you so much @AndrewRathbun . It's a great honour!

[2022-07-31 15:23] AndrewRathbun commented on #83
I'll add this to book.txt later unless someone beats me to it.

[2022-07-31 15:26] AndrewRathbun commented on #83
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/2f3c55b1d49061123bf0dda5e026ff1c0b0bc065

I was able to quick add it. Will review it later. Thank you for getting it done :)

[2022-07-31 17:47] AndrewRathbun commented on #83
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/c0107bd66a4d06cb4d41fbfe6157ba7901deefa0

Preview files were just added with your chapter included, FYI.

[2022-07-31 18:39] AndrewRathbun commented on #83
I think some of the preformatted sections have to be modified for Leanpub. They don't appear to be parsing correctly.

[2022-08-01 03:16] AndrewRathbun commented on #32
This was added and we will be the first Digital Forensics book 😎

[2022-08-01 03:17] AndrewRathbun commented on #32
Posting this here for future reference for me: http://help.leanpub.com/en/articles/6266784-do-i-need-a-reader-membership-to-make-purchases

I want to make sure the book is free for everyone. The steps are laid out here to do just that.

[2022-08-01 11:32] AndrewRathbun commented on #108
@ApexPredator-InfoSec added

[2022-08-01 11:34] AndrewRathbun commented on #59
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/runs/7610278348?check_suite_focus=true

I moved the `.md` files to their own folder, so now obviously we have tons of errors. Do you think we should just ignore `.md` files with this and only focus on `.txt` since that's what Leanpub actually parses?

[2022-08-02 11:37] AndrewRathbun commented on #22
This chapter will no longer be published at the author's request.

[2022-08-02 11:37] #22 closed

[2022-08-03 02:01] brootware commented on #59
Hi @AndrewRathbun , let me look into this. We can't really check the links in `.txt` files as this particular action only supports `.md` files.

I'm also thinking of implementing a cron to check the links on every cadance. I'm thinkin of like every 2 days at 11pm to run the check. Please let me know what you think.

https://crontab.guru/#0_23_*/2_*_*

[code]

[2022-08-03 02:20] AndrewRathbun commented on #59
Yeah that seems to be a great idea! Thank you!

[2022-08-03 11:37] brootware commented on #59
It seems like most of the errors are coming from images to dead links. I have added an additional ignore pattern with the latest PR https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/pull/133.

Interesting how the subsequent runs have stopped recognising these images.

[2022-08-04 12:11] AndrewRathbun commented on #108
@gh0x0st @bgrundy added

[2022-08-04 17:28] AndrewRathbun commented on #108
@jdwilkins75 added

[2022-08-05 02:11] AndrewRathbun commented on #2
I need to give this chapter another run through before 2 Mondays from now. Adding the needs review label as a reminder for myself.

[2022-08-05 12:14] AndrewRathbun commented on #108
I just found this page for the ISBN for our book!

https://www.bookwire.com/book/USA/the-hitchhikers-guide-to-dfir-9798986335902-andrew-rathbun-85169559

[2022-08-05 16:36] AndrewRathbun commented on #2
I need to add more `##` level subheaders for the purpose of the Table of Contents

[2022-08-05 17:08] gh0x0st commented on #12
still a good looking placeholder

[2022-08-07 03:53] AndrewRathbun commented on #20
@jdwilkins75 nice work on this one. I just finished doing my run through of edits for your chapter.

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/28fe9d3c12569d4d0a14333a5df943c1fbe13fdc for reference

[2022-08-07 03:54] AndrewRathbun commented on #83
I will likely review this chapter tomorrow. Thanks for your work @bgrundy

[2022-08-07 14:09] bgrundy commented on #83
Roger that.  Any changes I make will likely be formatting.  I still don't like some of the code blocks (with text formatting).  I need to do that after work today.

[2022-08-08 19:28] AndrewRathbun commented on #83
Editing completed! Nice work on this one!

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/5370c33e9fc2602e19ddee72d45c14a71e6f84c6 and https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/21489dace0ee1f2168d234999bf5360eb17bec63

[2022-08-08 20:01] AndrewRathbun opened #137 "Close chapters once they've been published (V1)"
Reminder for myself to close issues as they're published next week for V1.

[2022-08-11 20:30] AndrewRathbun commented on #1
Need to add a section for the book cover voting process probably after this line

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/16b5f27ca3e6b60fc0aff3878c8e376f47da4dce/manuscript/introduction.txt#L63

[2022-08-14 00:00] AndrewRathbun commented on #12
This is done!

![image](https://user-images.githubusercontent.com/36825567/184517212-70cb0486-e6e5-4ce9-939d-883e86ba02c1.png)

[2022-08-14 00:00] #12 closed

[2022-08-14 00:01] #107 closed

[2022-08-14 00:01] #108 closed

[2022-08-14 00:01] #1 closed

[2022-08-14 00:01] #2 closed

[2022-08-14 00:01] #5 closed

[2022-08-14 00:01] #6 closed

[2022-08-14 00:01] #7 closed

[2022-08-14 00:01] #8 closed

[2022-08-14 00:01] #15 closed

[2022-08-14 00:01] #16 closed

[2022-08-14 00:01] #20 closed

[2022-08-14 00:01] #30 closed

[2022-08-14 00:01] #79 closed

[2022-08-14 00:01] #83 closed

[2022-08-14 00:02] #137 closed

[2022-08-14 00:05] AndrewRathbun commented on #32
This is done. Closing this issue now.

[2022-08-14 00:05] #32 closed

[2022-08-14 12:44] AndrewRathbun commented on #12
Revised version of BookCover.jpg uploaded: https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/358d5f95e131da4802df41aa2137164db8089672

[2022-08-14 19:35] AndrewRathbun commented on #108
@hollykennedy added as an Editor

[2022-08-15 15:09] AndrewRathbun opened #147 "TODO for V1.1"
- [x] Change author subheadings from `##` to `###` - https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/34da71a3f64b0ab3bd13f4350e881466fd543b8c
- [x] remove `:` from Chapter 4's subheadings - https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/c832a4f6b891dd5260ab

[2022-08-18 18:13] AndrewRathbun opened #150 "Royalty Donation Ideas"
Some ideas:

- [NCMEC](https://www.missingkids.org/)
- [IWF](https://www.iwf.org.uk/)

[2022-08-18 19:37] AndrewRathbun opened #151 "Chapter 7: jball77-git"

[2022-08-18 19:38] AndrewRathbun commented on #151
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/chapterj.txt

Here's your playground, good luck!

[2022-09-04 03:02] AndrewRathbun opened #159 "Book Disclaimer idea"
@FullTang passed this on to me that he saw in another book. Maybe we could modify this and stick it somewhere, if we so choose?

[code]

Thoughts? Any feedback is appreciated. If we deem it not much of a value add, then we can simply scrap the idea.

[2022-09-05 15:33] stark4n6 commented on #159
I like the idea of it

[2022-09-05 21:58] Fierry137 commented on #159
I think it's a good idea to add it.

[2022-09-06 02:14] brootware commented on #59
Hey @AndrewRathbun, Just got a notification for a dead link from the latest run on my fork https://github.com/brootware/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/runs/8197161545?check_suite_focus=true

The source link is here:
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/1ae3274f340a4affac53560fe586c9da7cd261

[2022-09-06 02:16] AndrewRathbun commented on #59
Thank you for the heads up! Thankfully that chapter isn't live yet but I appreciate you flagging that for me! 🙏

[2022-09-06 04:13] AndrewRathbun commented on #59
I'm reaching out to Josh to see if that link can be fixed.

[2022-09-06 05:00] Fierry137 commented on #80
Writing nearly done :)

[2022-09-06 12:29] AndrewRathbun commented on #59
Link is working now!

[2022-09-06 12:59] AndrewRathbun commented on #80
Great! As of now, once this chapter is done, we'll push out v1.1!

[2022-09-06 14:15] AndrewRathbun commented on #59
We're good now! Dead Link Checker passed with flying colors.

[2022-09-08 19:30] AndrewRathbun commented on #159
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/Book.txt

Does everyone agree with the disclaimer positioning?

https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/24ffc0fc3efe1ff28a9d4c517b6edb333fe35aec

Here's the disclaimer I put together based

[2022-09-08 19:34] FullTang commented on #159
Looks good to me.

[2022-09-08 19:43] AndrewRathbun commented on #147
I am going to use GitHub releases instead of linking to this Issue in the book

[2022-09-08 19:43] #147 closed

[2022-09-21 13:43] #159 closed

[2022-10-09 04:02] AndrewRathbun opened #171 "Add LE Peru role to Chapter 1"
LE [Peru] was just added tonight as a role, so that's yet another country to add to the list!

[2022-10-11 15:06] AndrewRathbun commented on #23
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:22] AndrewRathbun commented on #151
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:22] AndrewRathbun commented on #89
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:22] AndrewRathbun commented on #85
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:22] AndrewRathbun commented on #80
Closing this since it's already been published!

[2022-10-11 15:22] #80 closed

[2022-10-11 15:23] AndrewRathbun commented on #28
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:23] AndrewRathbun commented on #21
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:23] AndrewRathbun commented on #18
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:23] AndrewRathbun commented on #14
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:23] AndrewRathbun commented on #13
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 15:23] AndrewRathbun commented on #3
Hey there, it's been a few months. Just wanted to check in and see how progress is going on your chapter? Whenever your chapter is ready to go, submit it to the repo, and once its reviewed it'll get published without delay! Cheers and hope you are well!

[2022-10-11 21:14] ph0llux commented on #89
Hi,

I'm still writing - I'll let you know as soon as it can go into review ;) thanks for the request.

[2022-11-12 18:59] AndrewRathbun commented on #171
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/a00a5948d5b13bdd79dcaedf9d082123806ebd3e

[2022-11-12 18:59] #171 closed

[2022-11-12 19:00] AndrewRathbun commented on #150
[DONATIONS.md](https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/DONATIONS.md) created

[2022-11-12 19:03] AndrewRathbun commented on #151
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/chapterK.txt

.txt file created for this chapter

[2022-11-14 15:20] AndrewRathbun opened #175 "Chapter 12: Data Recovery (mark-b1980)"
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/blob/main/manuscript/chapterL.txt

Here you go, enjoy!

[2022-11-14 15:27] #150 closed

[2022-11-14 16:04] AndrewRathbun opened #176 "add Phillipines to Chapter 1 LE role list"

[2022-11-26 02:22] AndrewRathbun commented on #175
@mark-b1980 I am working through a review of the chapter right now. We should probably decide on one of either instable or unstable. Thoughts? I see instances of both but it would probably make sense to choose one since they mean the same thing. Thoughts?

[2022-11-26 02:51] AndrewRathbun commented on #175
I'm about 1/3rd of the way through reviewing this chapter. So far so good. I will continue reviewing it throughout the weekend. Nice work!

[2022-11-26 09:27] mark-b1980 commented on #175
Hi. Thanks for the feedback - go with **unstable** please. it's more common used when describing that problems.

[2022-11-27 03:08] AndrewRathbun commented on #175
FYI, there are a few `xxxxxx` for the captions on some images. Did you mean to replace those eventually?

[2022-11-27 03:11] AndrewRathbun commented on #175
@mark-b1980 outside of that issue, I did my first runthrough of the chapter and pushed the edits. Let me know if there's anything you disagree with, etc. Once you address the image captions, we can push a new version. Cheers!

[2022-11-27 10:59] mark-b1980 commented on #175
I have created another pull request with the 4 missing image captions. I looked over the changes you have dont and all is OK. Please pull the last changes and then go ahed... Have a nice sunday.

[2022-11-27 12:51] AndrewRathbun commented on #75
Also, for new authors, please go to https://leanpub.com/user_dashboard/settings and fill out your About Me so your author profile is populated like the rest of ours.

For instance, here's what mine looks like: https://leanpub.com/u/AndrewRathbun

This bio shows up on every book landing page that you're involved in. Make it pretty!

[2022-11-28 15:02] AndrewRathbun commented on #176
https://github.com/Digital-Forensics-Discord-Server/TheHitchhikersGuidetoDFIRExperiencesFromBeginnersandExperts/commit/d5da1c06c89822e08e3f0d6b106493389b5a03b4

[2022-11-28 15:02] #176 closed

[2022-11-28 15:07] AndrewRathbun commented on #175
Chapter published!

[2022-11-28 15:07] #175 closed